@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: black !important;
}

h1 {
    font-size: 6.5rem !important;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(216, 213, 213, 0.575);
    letter-spacing: 3px;
    animation: fadeIn 2s ease-in-out;
    color: #00ffcccc !important;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    
    
}
#clock {
    font-size: 5rem;
    font-weight: bold;
    padding: 20px 40px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), 0 0 20px hsla(168, 100%, 50%, 0.8);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 255, 204, 0.8);
    color: #00ffcc;
    animation: glow 1.5s infinite alternate;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes glow {
    0% { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 255, 204, 0.5); }
    100% { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), 0 0 30px rgba(0, 255, 204, 1); }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }

    #clock {
        font-size: 3.5rem;
        padding: 15px 30px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
        margin-bottom: 15px;
        text-align: center;
    }

    #clock {
        font-size: 3.5rem;
        padding: 10px 20px;
    }
}